{
    "bracketSameLine": true,
    "bracketSpacing": true,
    "editor.formatOnSave": true,
    "jsxBracketSameLine": false,
    "objectWrap": "collapse",
    "printWidth": 120,
    "proseWrap": "always",
    "requireConfig": false,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false
}
