@import 'tailwindcss' important;

::highlight(notation-highlight) {
    background-color: peachpuff;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    /* padding: 0.6em 1.2em; */
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.height-200 {
    height: 50rem;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

@font-face {
    font-family: 'BaliMusic5';
    src:
        url('./fonts/BaliMusic5.woff2') format('woff2'),
        url('./fonts/BaliMusic5.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.balifont {
    font-family: 'BaliMusic5';
    font-weight: normal;
    font-style: normal;
}
.balifont10 {
    font-family: 'BaliMusic5';
    font-weight: normal;
    font-style: normal;
    font-size: 10pt;
}
.balifont11 {
    font-family: 'BaliMusic5';
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
}
.balifont12 {
    font-family: 'BaliMusic5';
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
}
.balifont14 {
    font-family: 'BaliMusic5';
    font-size: 14pt;
}
.balifont16 {
    font-family: 'BaliMusic5';
    font-weight: normal;
    font-style: normal;
    font-size: 16pt;
}
@keyframes blinker {
    0% {
        fill: #000000;
    }
    50% {
        fill: #00000000;
    }
    100% {
        fill: #000000;
    }
}
.cursor-visible {
    animation: blinker 1s infinite;
}
.cursor-hidden {
    fill: white;
}
