@import "tailwindcss";

::highlight(notation-highlight) {
  background-color: peachpuff;
}

@font-face {
    font-family: 'BaliMusic5';
    src: url('https://swarasanti.nl/wp-includes/js/midiplayer-test/fonts/BaliMusic5.woff2') format('woff2'),
        url('https://swarasanti.nl/wp-includes/js/midiplayer-test/fonts/BaliMusic5.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.balifont {
    font-family: 'BaliMusic5';
    font-weight: normal;
    font-style: normal;		
}