@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

/* For cursor in notation */
::highlight(notation-highlight) {
  background-color: peachpuff;
}

@font-face {
    font-family: 'BaliMusic5';
    src: url('https://swarasanti.nl/wp-includes/js/midiplayer-test/fonts/BaliMusic5.woff2') format('woff2'),
        url('https://swarasanti.nl/wp-includes/js/midiplayer-test/fonts/BaliMusic5.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.balifont {
    font-family: 'BaliMusic5';
    font-weight: normal;
    font-style: normal;	
    font-size:small;
}

/* Force format for notation area. Overrules any WP Theme */
p.balifont[id^="notation"] { 
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  color: black;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
